@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f9;
}

header {
  background: linear-gradient(90deg, #005fab, #0077ff);
  color: white;
  padding: 50px 20px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th, td {
  text-align: left;
  font-size: 18px;
}

footer {
  background: linear-gradient(90deg, #005fab, #0077ff);
  color: white;
}

